@model IEnumerable<TipoCuenta>
@{
    ViewData["title"] = "Tipos Cuentas";
}

<h1>Tipos de Cuentas</h1>

<h5>
    El tipo de cuenta se refiere a cómo podemos agrupar cuentas.
    Ejemplos: Préstamos, tarjetas de crédito, etc.
</h5>

<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo</a>

<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
        </tr>
    <tbody>
            @foreach (var tipoCuenta in Model)
            {
            <tr>
                <td>
                    <a class="btn btn-primary">Editar</a>
                    <a class="btn btn-danger">Borrar</a>
                </td>
                <td>
                    @tipoCuenta.Nombre
                </td>
            </tr>
            }
    </tbody>
    </thead>
</table>