@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">Leandro Tomassini</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JavaScript.</h2>
    <img src="~/imagenes/foto.jpg" id="foto"/>
</div>


<div class="text-center">
    <img src="~/imagenes/dotnet-imagen-2.png" id="imagen-dotnet" alt="dotnet logo"/>
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado desarrollando software profesionalmente desde el 2012. He tenido el privilegio de trabajar para una empresa donde tuve la oportunidad de
            realizar proyectos para empresas como Orange, Seguros Universal, Golds Gym, Banco BHD;
            todo esto trabajando principalmente aplicaciones de C#/ASP.NET, SQL Server, Entity Framework, JavaScript, entre otros.
        </p>
    </div>
</div>

﻿<div style="margin-top: -105px">

    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>

            <p>
                Trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entrega continua.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                ASP.NET Core, SQL Server
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries espaciales</li>
                <li>Principios SOLID</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>
                Puedo crear front-ends robustos los cuales cumplen con los requerimientos del negocio.
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <p>
                React, Angular, Blazor
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>

            <ul>
                <li>React Hooks</li>
                <li>Angular Material</li>
                <li>Blazor WASM</li>
                <li>jQuery</li>
                <li>Pruebas automáticas</li>
                <li>Leaflet</li>
                <li>Markdown</li>
            </ul>
        </div>
    </div>
</div>