@model Persona


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Soy @Model.nombre (@Model.Edad)</h1>

    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JavaScript</h2>

    <img 
         src="~/imagenes/foto.jpg" 
         alt="Foto de perfil"
         id="foto"
    />
    
</div>
